body { margin: 0; }
ul { list-style: none; padding: 0; margin: 0; }
a { text-decoration: none; color: inherit;}
input[type="text"],
input[type="password"] {
    outline: none;
    padding: 2px 15px;
    box-sizing: border-box;}
* {font-family: 'Noto Sans KR', sans-serif;}
.contents_area {
    width: 951px;
    margin: 0 auto;
}
.subtitle {
    margin: 20px 0 10px 0;
}